.git
.github
.cursor
**/node_modules
backend/venv
backend/.env
**/.env
**/*.db
**/__pycache__
**/*.pyc
frontend/dist
docs
*.md
!README.md
.vscode
.idea
**/.DS_Store
backend/uploads/**
!backend/uploads/.gitkeep
